@model PokemonWorld.Models.SWCharacter

@{
    ViewBag.Title = "StarWars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Star Wars Character</h2>

<p>@Model.name is @Model.height cm tall.</p>

